
body{
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "new-hero", sans-serif;
  font-size: 1rem;
  background-color: #281318;
  overflow-x: hidden;
  width: 100vw;
}

div, section{
  display: flex;
  flex-direction: column;
}

a{
  color:inherit;
  text-decoration: none;
  transition: color .2s;

}

.galaxy-link:hover{
  color: grey;
}
.cocolor-website {
  width: 100vw;
  overflow-x: hidden;
}

.fullscreen{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: white;
  z-index: 200;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:20px;
  padding: 30px;
  box-sizing: border-box;
}

.store-links-container{
  flex-direction: row-reverse;
    gap: 10px;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;

}

.fullscreen img{
  height: 100px;
  max-width: 80%;
}
.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 300;
  color: #000; /* Assure que la croix est visible */
  padding: 0 10px;
}


.fixed-header {
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  right: 0;
  z-index: 100;
  transform: translateY(-100%);
  transition: transform 0.2s ease-out;
}

.fixed-header.visible {
  transform: translateY(0);
}


.header-content{
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  padding: 25PX 30px;
  box-sizing: border-box;
  height: 80px;
}

.header-content .text-logo{
  height: 20px;
    margin: 5px;
    width: auto;
}

.header-content .dark {
  background-color: transparent !important;
  color: #e69f9f;
}

.header-content .light {
  background-color: #e69f9f !important;
  color: #281318;
}

.header-content .cta-button:hover{
  background-color: #4f393d !important;
  color: white !important;
}

.language-button {
  background: #281318;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 7px;
  padding: 5px 10px;  
  font-family: inherit;
  position: absolute;
    right: 0;
    padding: 25px;
}


.hero-section {
  background-color: #281318;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 218px 80px;
  text-align: center;
  height: 100svh;
  box-sizing: border-box;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

.logo {
  width: 130px;
  height: auto;
}

.text-logo {
  width: 270px;
  margin-top: 20px;
}

.hero-title {
  color: #B2CCDF;
  font-weight: 700;
  letter-spacing: 0.37px;
  text-transform: uppercase;
  margin-top: 20px;
}

.cta-buttons {
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.cta-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 7px;
  padding: 5px 10px;
  font-weight: 700;
  cursor: pointer;
  text-wrap: nowrap;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

.dark {
  background-color: #4f393d;
  color: #fff;
}
.light {
  background-color: #B2CCDF;
  color: #4f393d;
}


.dark:hover, .light:hover{
  background-color: #141011;
  color: white;
}



.button-icon {
  width: 11px;
  height: 11px;
}

svg {
  color : inherit;
}


/* S1 */





.games-section {
 align-items: center;
  padding: 100px 0;
}

.section-title {
  max-height: 80px;
  max-width: 90%;
  padding: 10px 23px;
}

.game-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  max-width: 980px;
  width: 100%;
  margin-bottom: 120px;
  box-sizing: border-box;
  padding: 0 100px;
}

.game-container.reverse {
  flex-direction: row-reverse;
}

.game-info {
  text-align: center;
  color: #B2CCDF;
  max-width: 400px;
}

.game-title {
  font-size: 2rem;
  font-weight: 700;
}

.game-subtitle {
  color: #e69f9f;
  font-size: 1.6rem;
  margin-top: 1rem;
}

.game-description {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.game-preview {
  height: 475px;
  min-width: fit-content;
  border-radius: 41px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-image {
  width: auto;
  height: 100%;
}


.tea-image {
  width: 125px;
  margin-top: 22px;
}

.tea-label {
  margin-top: 19px;
}

.cta-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-title {
  color: #B2CCDF;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 39px;
}

.galaxy-section {
  background-color: #B2CCDF;
  padding: 100px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.galaxy-slider{
  width: 100%;
  align-items: center;
  overflow-x: scroll;
  margin-top: 100px;
}

.section-description {
  color: #281318;
  font-size: 1.5rem;
  font-weight: 400;
  max-width: 460px;
  margin: 0;
  padding: 0 20px;
}

.galaxy-grid {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  flex-direction: row;
  gap: 15px;
  width: fit-content;
  margin: 0 20px ;
    
}

.galaxy-item {
  width: 280px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  color: #000;
  padding: 0 0 25px 0;

}

.galaxy-image {
  height: 210px;
  object-fit: cover;
}
.galaxy-title {
  padding: 10px 20px;
  font-weight: bold;
}


.galaxy-description {
  padding: 0px 20px;
}

.creators-section {
  background-color: #fff;
  padding: 100px 170px 30px;
  color: #282b34;
  display: flex;
    flex-direction: column;
    align-items: center;
  
}

.creators-title {
  color: #e69f9f;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 120px;
}

.creator-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%  ;
  margin-bottom: 120px;
  max-width: 1080px;
  padding: 0 70px;
}

.creator-info.reverse {
  flex-direction: row-reverse;
}

.creator-image {
  width: 45%;
  min-width: 300px;
  height: fit-content;
}

.creator-description {
  width: 45%;
  min-width: 300px;
  line-height: auto;
}

.link-underline {
  color: #e69f9f;
  text-decoration: underline;
}

.site-footer {
  background-color: #281318;
align-items: center;
  text-align: center;
  padding: 120px 0 40px;
    gap: 40px;
}

.footer-content {
  flex-direction: row;
  max-width: 980px;
  justify-content: center;
  gap: 100px;
  margin-bottom: 120px;
}

.white{
  color: white !important;
}

.footer-cta {
  max-width: 332px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-title {
  color: #B2CCDF;
  font-size: 1rem;
  font-weight: 400;
  line-height: 21px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-image {
  width: 150px;
  height: auto;
}

.legal-link {
  color: #B2CCDF;
  font-size: .7rem;
  margin-top: 20px;
  text-decoration: none;
}

@media (max-width: 991px) {
  .fixed-header{
    bottom: 0;
    top:unset;
    transform: translateY(+100%);
    background-color: #281318;
  }
  .header-right{
    display: none;
  }

  .header-content{
    height: auto;
    padding: 5px 5px;
  }

  .header-content .cta-buttons {
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  gap:unset
}

  .hero-section {
    padding: 100px 20px;
  }

  .games-section {
    padding: 40px 20px;
  }

  .section-title {
    margin-bottom: 40px;
  }

  .game-container {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
    padding: 0;
  }

  .game-container.reverse {
    flex-direction: column;
  }

  .game-info {
    max-width: 100%;
  }

  .game-subtitle,
  .game-description {
    margin-top: 20px;
  }

  .galaxy-slider {
    align-items: start;
  }

  .creators-section {
    padding: 100px 20px;
  }

  .creator-info {
    /*flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
    align-items: center;*/
    display: block;
  }

  .creator-info.reverse {
    flex-direction: column;
  }

  .creator-image,
  .creator-description {
    object-fit: contain;
    width: auto;
    max-width: calc(min(100%, 400px));
    height: auto;
  }

  .site-footer {
    padding: 100px 20px 50px;
  }

  .footer-content {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 100px;
  }

  .footer-cta {
    max-width: 100%;
  }

  .footer-title {
    margin-bottom: 20px;
  }
}